html, body {
  height: 100%; }

body {
  background-color: #110022;
  color: #eee; }

.wrapper {
  width: 100%; }
  .wrapper a:active, .wrapper a:focus, .wrapper a:visited, .wrapper a:hover {
    text-decoration: none; }
  .wrapper a, .wrapper a:active, .wrapper a:focus, .wrapper a:visited {
    color: #efefef; }
  .wrapper .description {
    color: #f0ad4e; }
  .wrapper a:hover {
    color: #c3c8ee; }
  .wrapper h1 {
    font-size: 4rem; }
  .wrapper .bx-container {
    max-width: 50rem; }
    .wrapper .bx-container .live li {
      width: 100%;
      list-style: none;
      word-wrap: break-word;
      border-bottom: 1px solid;
      font-size: 0.9rem;
      min-height: 48px; }
      .wrapper .bx-container .live li:not(:first-child) {
        padding-top: 0.8rem; }
      .wrapper .bx-container .live li:last-child {
        border-bottom: 0; }
      .wrapper .bx-container .live li:nth-child(2n+1) {
        color: #f0ad4e; }
    .wrapper .bx-container .bx-form {
      padding-top: 5rem;
      padding-bottom: 1rem; }
      .wrapper .bx-container .bx-form input[name=url] {
        border-color: #f0ad4e; }
        .wrapper .bx-container .bx-form input[name=url]:focus {
          border-color: #66afe9; }
    .wrapper .bx-container #collapse .input-group {
      width: 90%; }
      .wrapper .bx-container #collapse .input-group input[name=shortUrl] {
        border-color: #d9534f; }
        .wrapper .bx-container #collapse .input-group input[name=shortUrl]:focus {
          border-color: #66afe9; }
    .wrapper .bx-container #qr-code {
      width: 150px;
      height: 150px; }
    .wrapper .bx-container [data-share-info] {
      margin-top: 1rem;
      word-wrap: break-word; }
      .wrapper .bx-container [data-share-info] [data-share-info] {
        margin-top: 0.6rem; }
      .wrapper .bx-container [data-share-info] .share-description {
        max-height: 140px;
        overflow: hidden;
        text-overflow: ellipsis; }
      .wrapper .bx-container [data-share-info] .arc-rotate-double .loader > div {
        border-color: transparent #fff; }
    .wrapper .bx-container .referral {
      display: inline;
      font-size: 0.9rem; }
      .wrapper .bx-container .referral + .referral:before {
        content: "|";
        color: white; }
    .wrapper .bx-container .footer {
      padding-top: 5rem; }

.icon-3d {
  padding: 5px;
  color: #fff; }
  .icon-3d:hover {
    -webkit-animation: icon3d 200ms infinite;
    animation: icon3d 200ms infinite; }

.icon-3d-on {
  -webkit-animation: icon3d 200ms 10;
  animation: icon3d 200ms 10; }

@keyframes icon3d {
  0% {
    text-shadow: 5px 4px #f44336, -5px -6px #2196f3; }
  25% {
    text-shadow: -5px -6px #f44336, 5px 4px #2196f3; }
  50% {
    text-shadow: 5px -4px #f44336, -8px 4px #2196f3; }
  75% {
    text-shadow: -8px -4px #f44336, -5px -4px #2196f3; }
  100% {
    text-shadow: -5px 0 #f44336, 5px -4px #2196f3; } }
.report-btn {
  color: #9AAEC5;
  font-size: 1.5em;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
  transition: 0.3s; }
  .report-btn:hover {
    color: #333; }

.bx-modal {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.95);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  /*/ initial state of bx-modal / */
  z-index: 5; }
  .bx-modal hr {
    width: 100%;
    height: 5px;
    border: none;
    border-bottom: 1px dashed lightgrey; }
  .bx-modal .bx-modal-content {
    max-width: 800px;
    max-height: 400px;
    margin: auto auto;
    border-radius: 5px;
    padding: 30px;
    background: #fff;
    color: #2a2a2a; }
    .bx-modal .bx-modal-content h2, .bx-modal .bx-modal-content p:last-child {
      text-align: center; }
  .bx-modal .close-bx-modal {
    color: #9AAEC5;
    font-size: 1.5em;
    cursor: pointer;
    position: fixed;
    top: 25px;
    right: 30px; }
    .bx-modal .close-bx-modal:hover {
      color: #333; }

@media (max-width: 700px) {
  .bx-modal .bx-modal-content {
    border-radius: 0; }

  .report-btn {
    left: 20px; } }

/*# sourceMappingURL=default.css.map */
