/* @site    https://bavix.ru/
/* @author  rez1dent3
/* @version 1.2

@import "media"
@import "social"

.grayscale
  -webkit-filter: grayscale(100%) /* Safari 6.0 - 9.0 */
  filter: grayscale(100%)

@for $i from 14 to 30
  .f#{$i}
    font-size: $i/16 * 1rem

.letter-spacing-small *
  letter-spacing: 0

.letter-spacing-middle *
  letter-spacing: 1px

.letter-spacing-large *
  letter-spacing: 2px

/** gr1
.bg-white-black
  background: black !important

.bg-white-black2
  background: white !important

.bg-white-black-border
  border-color: white !important

.clr-white-black
  color: white !important

.clr-white-black2
  color: black !important

/** gr2
.bg-black-white
  background: white !important

.bg-black-white2
  background: black !important

.bg-black-white-border
  border-color: black !important

.clr-black-white
  color: black !important

.clr-black-white2
  color: white !important

/** gr3
.bg-dark-blue-blue
  background: #9dd1ff !important

.bg-dark-blue-blue2
  background: #063462 !important

.bg-dark-blue-blue-border
  border-color: #063462 !important

.clr-dark-blue-blue
  color: #063462 !important

.clr-dark-blue-blue2
  color: #9dd1ff !important

/** gr4
.bg-brown-beige
  background: #f7f3d6 !important

.bg-brown-beige2
  background: #54371f !important

.bg-brown-beige-border
  border-color: #54371f !important

.clr-brown-beige
  color: #54371f !important

.clr-brown-beige2
  color: #f7f3d6 !important

/** gr5
.bg-green-dark-brown
  background: #3b2716 !important

.bg-green-dark-brown2
  background: #a9d82c !important

.bg-green-dark-brown-border
  border-color: #a9d82c !important

.clr-green-dark-brown
  color: #a9d82c !important

.clr-green-dark-brown2
  color: #3b2716 !important

*
  margin: 0
  padding: 0

#return-to-top
  position: fixed
  bottom: 20px
  right: 20px
  background: rgb(0, 0, 0)
  background: rgba(0, 0, 0, 0.7)
  width: 50px
  height: 50px
  display: block
  text-decoration: none
  -webkit-border-radius: 35px
  -moz-border-radius: 35px
  border-radius: 35px
  display: none
  -webkit-transition: all 0.3s linear
  -moz-transition: all 0.3s ease
  -ms-transition: all 0.3s ease
  -o-transition: all 0.3s ease
  transition: all 0.3s ease

html
  height: 100% // footer down bottom

  #map
    width: 100%
    height: 37.5rem
    margin: 0
    padding: 0

  #chart
    margin-bottom: 2rem

  body.visually-image

    img:not(.visually), .card-img-top:not(.visually), canvas
      display: none

    .no-visually
      display: none !important

  body.visually-impaired

    #return-to-top
      display: none

    .if-grayscale
      @extend .grayscale

    #map
      @extend .grayscale

    img, svg, canvas, .card-img-top
      &:not(.visually)
        @extend .grayscale

    .breadcrumb
      display: none

    &.visually-white-black

      @extend .bg-white-black
      @extend .clr-white-black

      .visually-eye i
        background: url('/svg/eye-white-black.svg') no-repeat

      .visually-image
        background: url('/svg/image-white-black.svg') no-repeat

      .visually-no-image
        background: url('/svg/no-image-white-black.svg') no-repeat

      .bg-global
        @extend .bg-white-black

      .bg-global2
        @extend .bg-white-black2

      .bg-border
        @extend .bg-white-black-border

      .clr-global
        @extend .clr-white-black

      .clr-global2
        @extend .clr-white-black2

      footer
        a, a:hover, a:active, a:visited, a:focus
          @extend .clr-global2

    &.visually-black-white

      @extend .bg-black-white
      @extend .clr-black-white

      .visually-image
        background: url('/svg/image-black-white.svg') no-repeat

      .visually-no-image
        background: url('/svg/no-image-black-white.svg') no-repeat

      .bg-global
        @extend .bg-black-white

      .bg-global2
        @extend .bg-black-white2

      .bg-border
        @extend .bg-black-white-border

      .clr-global
        @extend .clr-black-white

      .clr-global2
        @extend .clr-black-white2

      footer
        a, a:hover, a:active, a:visited, a:focus
          @extend .clr-global2

    &.visually-dark-blue-blue

      @extend .bg-dark-blue-blue
      @extend .clr-dark-blue-blue

      .visually-eye i
        background: url('/svg/eye-dark-blue-blue.svg') no-repeat

      .visually-image
        background: url('/svg/image-dark-blue-blue.svg') no-repeat

      .visually-no-image
        background: url('/svg/no-image-dark-blue-blue.svg') no-repeat

      .bg-global
        @extend .bg-dark-blue-blue

      .bg-global2
        @extend .bg-dark-blue-blue2

      .bg-border
        @extend .bg-dark-blue-blue-border

      .clr-global
        @extend .clr-dark-blue-blue

      .clr-global2
        @extend .clr-dark-blue-blue2

      footer
        a, a:hover, a:active, a:visited, a:focus
          @extend .clr-global2

    &.visually-brown-beige

      @extend .bg-brown-beige
      @extend .clr-brown-beige

      .visually-eye i
        background: url('/svg/eye-brown-beige.svg') no-repeat

      .visually-image
        background: url('/svg/image-brown-beige.svg') no-repeat

      .visually-no-image
        background: url('/svg/no-image-brown-beige.svg') no-repeat

      .bg-global
        @extend .bg-brown-beige

      .bg-global2
        @extend .bg-brown-beige2

      .bg-border
        @extend .bg-brown-beige-border

      .clr-global
        @extend .clr-brown-beige

      .clr-global2
        @extend .clr-brown-beige2

      footer
        a, a:hover, a:active, a:visited, a:focus
          @extend .clr-global2

    &.visually-green-dark-brown

      @extend .bg-green-dark-brown
      @extend .clr-green-dark-brown

      .visually-eye i
        background: url('/svg/eye-green-dark-brown.svg') no-repeat

      .visually-image
        background: url('/svg/image-green-dark-brown.svg') no-repeat

      .visually-no-image
        background: url('/svg/no-image-green-dark-brown.svg') no-repeat

      .bg-global
        @extend .bg-green-dark-brown

      .bg-global2
        @extend .bg-green-dark-brown2

      .bg-border
        @extend .bg-green-dark-brown-border

      .clr-global
        @extend .clr-green-dark-brown

      .clr-global2
        @extend .clr-green-dark-brown2

      footer
        a, a:hover, a:active, a:visited, a:focus
          @extend .clr-global2

    .form-control
      @extend .bg-global2
      @extend .clr-global2
      border-width: 5px

    .alert-warning
      @extend .bg-global2
      @extend .clr-global2
      border-color: inherit

    .form-group select.form-control:not([size]):not([multiple])
      height: 50px

    .card
      @extend .bg-global
      @extend .bg-border
      border-radius: 0

      .visually-image, .visually-no-image
        display: block
        width: 144px
        height: 124px

      .visually-selected

        .active:after
          @extend .bg-border
          border: solid
          border-width: 1px 1px 0 0
          bottom: 0
          content: ' '
          display: block
          height: 10px
          left: calc(50% - 5px)
          position: absolute
          width: 10px
          -webkit-transform: rotate(-45deg)
          -webkit-transform-origin: 50% 50%
          transform: rotate(-45%)
          transform-origin: 50% 50%

        &.visually-color
          .active:after
            bottom: -20px

          a, a:hover, a:focus, a:active, a:visited
            text-decoration: none !important
            margin: .25rem
            padding: 0
            text-align: center

            &.a-white-black
              @extend .clr-white-black
              @extend .bg-white-black
              border: .25rem solid black !important

            &.a-black-white
              @extend .clr-black-white
              @extend .bg-black-white
              border: .25rem solid black !important

            &.a-dark-blue-blue
              @extend .clr-dark-blue-blue
              @extend .bg-dark-blue-blue
              border: .25rem solid #063462 !important

            &.a-brown-beige
              @extend .clr-brown-beige
              @extend .bg-brown-beige
              border: .25rem solid #54371f !important

            &.a-green-dark-brown
              @extend .clr-green-dark-brown
              @extend .bg-green-dark-brown
              border: .25rem solid #a9d82c !important

        &.visually-font

          a
            text-decoration: none !important
            line-height: 3.5rem !important
            text-align: center

          .f24
            font-size: 27px

          .f27
            font-size: 34px

    .badge
      display: none

    nav.bg-inverse

      @extend .bg-global2
      @extend .clr-global2
      //background-color: black

      ul li
        .nav-link
          @extend .clr-global2

        &.active
          font-weight: bold
          a.nav-link
            text-decoration: none

        &:not(.active)
          @extend .clr-global2
          font-weight: normal

    a
      text-decoration: underline

    a, .wrapper main

      .progress

        .bg-info
          background-color: darkgray !important

        .bg-success
          background-color: darkslategray !important

      .blocks ul.menu li a
        @extend .clr-global
        //color: #1f1f1f

      article
        .card-img-top img
          border-top-left-radius: 0
          border-top-right-radius: 0

    a, a:hover, a:focus, a:visited, a:active, .card-text, p
      @extend .clr-global
      //color: black

    h1, h2, h3, h4, h5, h6
      &.text-muted
        @extend .clr-global
        //color: black !important

    footer

      h1, h2, h3, h4, h5, h6
        &.text-muted
          @extend .clr-global2

      a:hover, a:focus, :visited, :active, .card-text
        @extend .clr-global2

      .footer-middle, .footer-bottom
        @extend .bg-global2
        @extend .clr-global2
        //background: black

      .footer-bottom
        .bavix
          img
            display: none
          span
            @extend .clr-global2
            display: block

  body
    height: 100% // footer down bottom
    padding-top: 5.5rem

    .visually-special a:not(.active)
      display: none

    .alert-warning
      background-color: #3d6277
      color: white
      border-color: inherit

    &:not(.visually-impaired) .visually-selected
      display: none

    .visually-eye i
      background: url('/svg/eye-black-white.svg') no-repeat
      height: 1.1rem
      width: 1.4rem
      display: inline-block

  h1, h2, h3, h4, h5, h6
    font-weight: bold
    line-height: normal

  .lg-backdrop
    background-color: #3d6277

  /** header (navigation)
  header

    nav
      .navbar-brand img
        width: 1.6rem

      a.zoom
        &.disabled path
          fill: grey
        svg
          width: 1rem
          path
            fill: white

      @media (max-width: 576px)
        .container
          position: initial
          margin-left: 0

  /** context
  .wrapper
    display: flex
    flex-direction: column
    height: 100%

    /** content
    main
      /** footer down bottom
      flex: 1 0 auto
      .panel-heading
        padding-bottom: 1rem
      .panel-body
        padding-bottom: 1.5rem

      /** card
      .card + .card
        margin-top: 1rem

      article

        word-wrap: break-word

        .card-img-top img
          display: block
          margin-right: auto
          margin-left: auto
          border-top-left-radius: .25rem
          border-top-right-radius: .25rem

        margin-bottom: 1rem

        img
          max-width: 100%

        .pagination
          padding-top: 1rem

        .lightGallery
          li:nth-child(2n)
            a img
              background-color: #e2e2e2
          li:nth-child(2n-1)
            a img
              background-color: #9d9d9d

      /** blocks
      .blocks
        ul.menu
          display: block
          li
            a
              color: #99979c
              word-wrap: break-word

    footer
      /** footer down bottom
      flex: 0 0 auto
      color: white
      a
        color: #bfffff
        &:hover
          color: white

        &.bavix
          margin: auto
          img
            width: 7.5rem
          span
            display: none

      .btn-link
        color: white
        &:hover
          color: #f0ebef
        font-size: .83rem

      .list-unstyled li.space
        padding-bottom: 1rem

      .footer-bottom
        background: #3d6277
        padding-bottom: 1rem

      .footer-top
        background: #2d4958

      .footer-middle
        background: #3d6277
        padding-top: 2rem
        color: white
