/* @site    https://bavix.ru/
/* @author  rez1dent3
/* @version 1.0

/** all tags
*
  margin: 0
  padding: 0

html
  height: 100% // footer down bottom

  .visually-off
    display: none

  .visually-on
    display: block

  body.visually-impaired

    .visually-off
      display: block

    .visually-on
      display: none

    .card
      border-color: black
      border-radius: 0

    font-size: 1.3rem

    .badge
      display: none

    nav.bg-inverse

      background-color: black

      ul li
        .nav-link
          color: white

        &.active
          font-weight: bold
          a.nav-link
            text-decoration: none

        &:not(.active)
          color: white
          font-weight: normal

    a, .wrapper main .blocks ul.menu li a
      color: #1f1f1f
      text-decoration: underline

    a:hover, a:focus, :visited, :active, .card-text, p
      color: black

    h1, h2, h3, h4, h5, h6
      &.text-muted
        color: black !important

    //img, .card-img-top
    //  display: none

    footer

      h1, h2, h3, h4, h5, h6
        &.text-muted
          color: white

      a:hover, a:focus, :visited, :active, .card-text
        color: white

      .footer-middle, .footer-bottom
        background: black

      .footer-bottom
        .bavix
          span
            color: white
            display: block
          img
            display: none

  body
    height: 100% // footer down bottom
    padding-top: 5.5rem

  h1, h2, h3, h4, h5, h6
    font-weight: bold
    line-height: normal

  .lg-backdrop
    background-color: #3d6277

  /** header (navigation)
  header

    nav
      .navbar-brand img
        width: 1.6rem

      a.zoom
        &.disabled path
          fill: grey
        svg
          width: 1rem
          path
            fill: white

      @media (max-width: 576px)
        .container
          position: initial
          margin-left: 0

  /** context
  .wrapper
    display: flex
    flex-direction: column
    height: 100%

    /** content
    main
      /** footer down bottom
      flex: 1 0 auto
      .panel-heading
        padding-bottom: 1rem
      .panel-body
        padding-bottom: 1.5rem

      /** card
      div.card + div.card
        margin-top: 1rem

      article
        margin-bottom: 1rem
        img
          max-width: 100%

        .pagination
          padding-top: 1rem

      /** blocks
      .blocks
        ul.menu
          display: block
          li
            a
              color: #99979c
              word-wrap: break-word

    footer
      /** footer down bottom
      flex: 0 0 auto
      color: white
      a
        color: #bfffff
        &:hover
          color: white

        &.bavix
          margin: auto
          img
            width: 7.5rem
          span
            display: none

      .btn-link
        color: white
        &:hover
          color: #f0ebef
        font-size: .83rem

      span
        white-space: pre

      .list-unstyled li.space
        padding-bottom: 1rem

      .footer-bottom
        background: #3d6277
        padding-bottom: 1rem

      .footer-top
        background: #2d4958

      .footer-middle
        background: #3d6277
        padding-top: 2rem
        color: white
