/* @site    https://bavix.ru/ */
/* @author  rez1dent3 */
/* @version 1.0 */
/** all tags */
.visually-selected .active:after {
  background: white;
  border: solid black;
  border-width: 1px 1px 0 0;
  bottom: 0;
  content: " ";
  display: block;
  height: 10px;
  left: calc(50% - 5px);
  position: absolute;
  width: 10px;
  -webkit-transform: rotate(-45deg);
  -webkit-transform-origin: 50% 50%; }
.visually-selected.visually-color .active:after {
  bottom: -20px; }

.visually-color a {
  text-decoration: none !important;
  margin: 0.25rem;
  padding: 0;
  border: 0.25rem solid black;
  text-align: center; }
  .visually-color a.clr-white-black {
    color: white !important;
    background: black !important; }
  .visually-color a.clr-black-white {
    color: black !important;
    background: white !important; }
  .visually-color a.clr-dark-blue-blue {
    color: #063462 !important;
    background: #9dd1ff !important;
    border: 0.25rem solid #063462 !important; }
  .visually-color a.clr-brown-beige {
    color: #54371f !important;
    background: #f7f3d6 !important;
    border: 0.25rem solid #54371f !important; }
  .visually-color a.clr-green-dark-brown {
    color: #a9d82c !important;
    background: #3b2716 !important;
    border: 0.25rem solid #a9d82c !important; }

.visually-font a {
  text-decoration: none !important;
  line-height: 3.5rem !important;
  text-align: center; }
  .visually-font a.f20 {
    font-size: 1.3rem; }
  .visually-font a.f24 {
    font-size: 2rem; }
  .visually-font a.f27 {
    font-size: 2.5rem; }

* {
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  /** header (navigation) */
  /** context */ }
  html body.visually-image img:not(.visually), html body.visually-image .card-img-top:not(.visually) {
    display: none; }
  html body.visually-impaired {
    font-size: 1.3rem; }
    html body.visually-impaired .card {
      border-color: black;
      border-radius: 0; }
    html body.visually-impaired .badge {
      display: none; }
    html body.visually-impaired nav.bg-inverse {
      background-color: black; }
      html body.visually-impaired nav.bg-inverse ul li .nav-link {
        color: white; }
      html body.visually-impaired nav.bg-inverse ul li.active {
        font-weight: bold; }
        html body.visually-impaired nav.bg-inverse ul li.active a.nav-link {
          text-decoration: none; }
      html body.visually-impaired nav.bg-inverse ul li:not(.active) {
        color: white;
        font-weight: normal; }
    html body.visually-impaired a {
      text-decoration: underline; }
    html body.visually-impaired a .progress .bg-info, html body.visually-impaired .wrapper main .progress .bg-info {
      background-color: darkgray !important; }
    html body.visually-impaired a .progress .bg-success, html body.visually-impaired .wrapper main .progress .bg-success {
      background-color: darkslategray !important; }
    html body.visually-impaired a .blocks ul.menu li a, html body.visually-impaired .wrapper main .blocks ul.menu li a {
      color: #1f1f1f; }
    html body.visually-impaired a, html body.visually-impaired a:hover, html body.visually-impaired a:focus, html body.visually-impaired a:visited, html body.visually-impaired a:active, html body.visually-impaired .card-text, html body.visually-impaired p {
      color: black; }
    html body.visually-impaired h1.text-muted, html body.visually-impaired h2.text-muted, html body.visually-impaired h3.text-muted, html body.visually-impaired h4.text-muted, html body.visually-impaired h5.text-muted, html body.visually-impaired h6.text-muted {
      color: black !important; }
    html body.visually-impaired footer h1.text-muted, html body.visually-impaired footer h2.text-muted, html body.visually-impaired footer h3.text-muted, html body.visually-impaired footer h4.text-muted, html body.visually-impaired footer h5.text-muted, html body.visually-impaired footer h6.text-muted {
      color: white; }
    html body.visually-impaired footer a:hover, html body.visually-impaired footer a:focus, html body.visually-impaired footer :visited, html body.visually-impaired footer :active, html body.visually-impaired footer .card-text {
      color: white; }
    html body.visually-impaired footer .footer-middle, html body.visually-impaired footer .footer-bottom {
      background: black; }
    html body.visually-impaired footer .footer-bottom .bavix span {
      color: white;
      display: block; }
    html body.visually-impaired footer .footer-bottom .bavix img {
      display: none; }
  html body {
    height: 100%;
    padding-top: 5.5rem; }
  html h1, html h2, html h3, html h4, html h5, html h6 {
    font-weight: bold;
    line-height: normal; }
  html .lg-backdrop {
    background-color: #3d6277; }
  html header nav .navbar-brand img {
    width: 1.6rem; }
  html header nav a.zoom.disabled path {
    fill: grey; }
  html header nav a.zoom svg {
    width: 1rem; }
    html header nav a.zoom svg path {
      fill: white; }
  @media (max-width: 576px) {
    html header nav .container {
      position: initial;
      margin-left: 0; } }
  html .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    /** content */ }
    html .wrapper main {
      /** footer down bottom */
      flex: 1 0 auto;
      /** card */
      /** blocks */ }
      html .wrapper main .panel-heading {
        padding-bottom: 1rem; }
      html .wrapper main .panel-body {
        padding-bottom: 1.5rem; }
      html .wrapper main div.card + div.card {
        margin-top: 1rem; }
      html .wrapper main article {
        margin-bottom: 1rem; }
        html .wrapper main article .card-img-top img {
          display: block;
          margin-right: auto;
          margin-left: auto;
          border-top-left-radius: 0.25rem;
          border-top-right-radius: 0.25rem; }
        html .wrapper main article img {
          max-width: 100%; }
        html .wrapper main article .pagination {
          padding-top: 1rem; }
        html .wrapper main article .lightGallery li:nth-child(2n) a img {
          background-color: #e2e2e2; }
        html .wrapper main article .lightGallery li:nth-child(2n-1) a img {
          background-color: #9d9d9d; }
      html .wrapper main .blocks ul.menu {
        display: block; }
        html .wrapper main .blocks ul.menu li a {
          color: #99979c;
          word-wrap: break-word; }
    html .wrapper footer {
      /** footer down bottom */
      flex: 0 0 auto;
      color: white; }
      html .wrapper footer a {
        color: #bfffff; }
        html .wrapper footer a:hover {
          color: white; }
        html .wrapper footer a.bavix {
          margin: auto; }
          html .wrapper footer a.bavix img {
            width: 7.5rem; }
          html .wrapper footer a.bavix span {
            display: none; }
      html .wrapper footer .btn-link {
        color: white;
        font-size: 0.83rem; }
        html .wrapper footer .btn-link:hover {
          color: #f0ebef; }
      html .wrapper footer span {
        white-space: pre; }
      html .wrapper footer .list-unstyled li.space {
        padding-bottom: 1rem; }
      html .wrapper footer .footer-bottom {
        background: #3d6277;
        padding-bottom: 1rem; }
      html .wrapper footer .footer-top {
        background: #2d4958; }
      html .wrapper footer .footer-middle {
        background: #3d6277;
        padding-top: 2rem;
        color: white; }

/*# sourceMappingURL=sot.css.map */
